#slide-controller ul {
    list-style-type: none;
}

#slide-controller .scene-button {
    display: inline-block;
    padding: 5px;
}

#remove-state-filter {
    display: none;
    padding: 5px;
}

#slide-controller h4 {
    display: inline-block;
}

#slide-controller ul {
    display: inline-block;
}

#timeseries-chart-title {
    text-align: center;
    font-weight: bold;
}

#charts {
    overflow: auto;
    white-space:nowrap;
}

#timeseries {
    display: inline-block;
}

#deaths-map-title {
    width: 800px;
    text-align: center;
    font-weight: bold;
}

#deaths-map {
    display: none;
}
